<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.victorian.produccion.mapper.OrdenTrabajoMapper">

	<resultMap id="ordenTrabajoResult" type="com.victorian.produccion.domain.OrdenTrabajo">
		<id column="id_orden_trabajo" property="id_orden_trabajo" />
		<result column="id_prioridad" property="id_prioridad" />
		<result column="id_pedido" property="id_pedido" />
		<result column="fecha_registro" property="fecha_registro" />
		<result column="fecha_entrega_orden" property="fecha_entrega_orden" />
		<result column="fecha_entrega_pedido" property="fecha_entrega_pedido" />
		<result column="id_estado" property="id_estado" />
		<result column="nombre_cliente" property="nombre_cliente" />
		<result column="des_tipo_prenda" property="des_tipo_prenda" />
		<result column="des_tipo_confeccion" property="des_tipo_confeccion" />
		<result column="des_prioridad" property="des_prioridad" />
		<result column="des_etapa" property="des_etapa" />
		<result column="fecha_inicio" property="fecha_inicio" />
		<result column="fecha_fin" property="fecha_fin" />
	</resultMap>
	
	<select id="findAll" resultMap="ordenTrabajoResult">
		SELECT 	ot.id_orden_trabajo, ot.fecha_registro,cl.nombre_cliente,pr.descripcion as des_tipo_prenda, 
				tc.descripcion as des_tipo_confeccion, ot.fecha_entrega_orden, ot.fecha_entrega_pedido, 
				ot.id_prioridad, ot.id_pedido, ot.id_estado, pri.descripcion as des_prioridad
		FROM 	victorian.t_orden_trabajo ot inner join victorian.t_pedido p on p.id_pedido=ot.id_pedido
				inner join victorian.t_cliente cl on cl.idcliente=p.idcliente
				inner join victorian.t_producto pr on pr.id_producto=p.tipo_prenda
				inner join victorian.t_tipo_confeccion tc on tc.id_tipoconfeccion=p.id_tipoconfeccion
				inner join victorian.t_prioridad pri on pri.id_prioridad=ot.id_prioridad
		where	ot.id_estado not in (10);
	</select>

	<select id="findAllByFechaEstadoYEntrega" resultMap="ordenTrabajoResult">
		SELECT 	ot.id_orden_trabajo, ot.fecha_registro,cl.nombre_cliente,pr.descripcion as des_tipo_prenda, 
				tc.descripcion as des_tipo_confeccion, ot.fecha_entrega_orden, ot.fecha_entrega_pedido, 
				ot.id_prioridad, ot.id_pedido, ot.id_estado, pri.descripcion as des_prioridad,
				ot.id_etapa, e.descripcion as des_etapa
		FROM 	victorian.t_orden_trabajo ot inner join victorian.t_pedido p on p.id_pedido=ot.id_pedido
				inner join victorian.t_cliente cl on cl.idcliente=p.idcliente
				inner join victorian.t_producto pr on pr.id_producto=p.tipo_prenda
				inner join victorian.t_tipo_confeccion tc on tc.id_tipoconfeccion=p.id_tipoconfeccion
				inner join victorian.t_prioridad pri on pri.id_prioridad=ot.id_prioridad
				inner join victorian.t_etapa e on e.id_etapa=ot.id_etapa
		WHERE	ot.id_estado in (4,5)
		ORDER BY	ot.id_etapa desc, ot.fecha_entrega_orden desc
	</select>
	
	<select id="findByEtapa" parameterType="int" resultMap="ordenTrabajoResult">
		SELECT 	ot.id_orden_trabajo, ot.fecha_registro,cl.nombre_cliente,pr.descripcion as des_tipo_prenda, 
				tc.descripcion as des_tipo_confeccion, ot.fecha_entrega_orden, ot.fecha_entrega_pedido, 
				ot.id_prioridad, ot.id_pedido, ot.id_estado, pri.descripcion as des_prioridad,
				ot.id_etapa, e.descripcion as des_etapa, otd.fecha_fin, otd.fecha_inicio
		FROM 	victorian.t_orden_trabajo ot inner join t_pedido p on p.id_pedido=ot.id_pedido
				inner join victorian.t_cliente cl on cl.idcliente=p.idcliente
				inner join victorian.t_producto pr on pr.id_producto=p.tipo_prenda
				inner join victorian.t_tipo_confeccion tc on tc.id_tipoconfeccion=p.id_tipoconfeccion
				inner join victorian.t_prioridad pri on pri.id_prioridad=ot.id_prioridad
				inner join victorian.t_etapa e on e.id_etapa=ot.id_etapa
				inner join victorian.t_estado es on es.id_estado=ot.id_estado
				inner join victorian.t_orden_trabajo_detalle otd on otd.id_orden_trabajo=ot.id_orden_trabajo and otd.id_etapa=ot.id_etapa
		WHERE	ot.id_estado in (4,5) and ot.id_etapa=#{id_etapa}
		ORDER BY	ot.id_etapa desc, ot.fecha_entrega_orden desc
	</select>
	
	<insert id="insert" parameterType="com.victorian.produccion.domain.OrdenTrabajo">
		INSERT INTO victorian.t_orden_trabajo(id_prioridad, id_pedido, fecha_registro, fecha_entrega_orden,
			fecha_entrega_pedido, id_estado, id_etapa)
		VALUES (#{id_prioridad}, #{id_pedido}, #{fecha_registro}, #{fecha_entrega_orden},#{fecha_entrega_pedido}, 
			#{id_estado}, #{id_etapa});
		<selectKey resultType="Integer" keyProperty="id_orden_trabajo">
			select max(id_orden_trabajo) as id_orden_trabajo from victorian.t_orden_trabajo
		</selectKey>
	</insert>
</mapper>