<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.victorian.produccion.mapper.UsuarioMapper">

	<resultMap type="com.victorian.produccion.domain.Usuario"
		id="usuarioResult">
		<result column="id_usuario" property="id_usuario" />
		<result column="nombre" property="nombre" />
		<result column="nombre_completo" property="nombre_completo" />
		<result column="apellido_paterno" property="apellido_paterno" />
		<result column="apellido_materno" property="apellido_materno" />
		<result column="dni" property="dni" />
		<result column="login" property="login" />
		<result column="password" property="password" />
		<result column="estado" property="estado" />
		<result column="email" property="email" />
		<result column="fecha_registro" property="fecha_registro" />
		<result column="fecha_acceso" property="fecha_acceso" />
		<result column="cod_perfil" property="cod_perfil" />
		<result column="fecha_cambio_password" property="fecha_cambio_password" />
		<result column="es_nuevo" property="es_nuevo" javaType="boolean" jdbcType="BOOLEAN"  />
		<result column="imagen" property="imagen" /> 	
		<result column="id_cargo" property="id_cargo" /> 
		<result column="id_empresa" property="id_empresa" />
		<result column="fecha_cese" property="fecha_cese" />
		<result column="motivo_cese" property="motivo_cese" />		
		<result column="funcion" property="funcion" />
		<result column="rpm" property="rpm" />
		<result column="rpc" property="rpc" />
		<result column="telefono" property="telefono" />
		<result column="codigo_quality" property="codigo_quality" />
		<result column="dias_descanso" property="dias_descanso" />
		<result column="dias_vacaciones" property="dias_vacaciones" />
		<result column="idproducto" property="idproducto" />
		<result column="producto_principal" property="producto_principal" />
		<result column="otros_productos" property="otros_productos" />
		<result column="negocio_asignado" property="negocio_asignado" />
	</resultMap>

	<select id="buscarPorLoginClave" parameterType="com.victorian.produccion.domain.Usuario"
		resultMap="usuarioResult">
		SELECT
		id_usuario,nombre,apellido_paterno,apellido_materno,dni,email,direccion,login,password,estado,fecha_registro,fecha_mod,fecha_acceso,es_nuevo,idproducto,
		idusuario_referente, tipo_usuario_id, expediente_id
		from victorian.t_usuario
		where login =#{login} And password=#{password}
	</select>

	<select id="buscarPorDNI" parameterType="String" resultMap="usuarioResult">
		SELECT
		id_usuario,nombre,apellido_paterno,apellido_materno,dni,email,direccion,login,password,estado,fecha_registro,fecha_mod,es_nuevo
		from victorian.t_usuario
		where dni =#{dni}
	</select>

	<select id="buscarPorId" parameterType="int" resultMap="usuarioResult">
		SELECT
		id_usuario,nombre,apellido_paterno,apellido_materno,dni,email,direccion,login,password,estado,fecha_registro,fecha_mod,es_nuevo,
		id_cargo,imagen,id_empresa,concesionario, tipo_usuario_id, expediente_id, telefono
		from victorian.t_usuario
		where id_usuario =#{id_usuario}
	</select>

	<insert id="insertUsuario" parameterType="com.victorian.produccion.domain.Usuario">
		INSERT INTO victorian.t_usuario(dni,nombre, apellido_paterno,apellido_materno,email,login,password,
		direccion,estado,es_nuevo,id_empresa,concesionario, dotacion,
		tipo_usuario_id, expediente_id)
		values
		(#{dni},#{nombre},#{apellido_paterno},#{apellido_materno},#{email},#{login},#{password},
		#{direccion},#{estado},#{es_nuevo},#{id_empresa},#{concesionario}, #{dotacion},
		#{tipo_usuario_id}, #{expediente_id})
	</insert>

	<select id="getlistaUsuario" resultMap="usuarioResult">
		SELECT a.id_usuario,a.dni, a.nombre, a.apellido_paterno, a.apellido_materno, a.email, a.direccion, a.fecha_registro, a.login,a.login,a.password,
		a.fecha_acceso, a.estado, a.es_nuevo
		FROM
		victorian.t_usuario a
		order by id_usuario asc
	</select>
	
	<update id="actualizarEstado" parameterType="com.victorian.produccion.domain.Usuario">
		UPDATE victorian.t_usuario
		SET estado = #{estado}
		WHERE id_usuario = #{id_usuario}
	</update>

	<update id="actualizar" parameterType="com.victorian.produccion.domain.Usuario">
		update victorian.t_usuario
		SET dni =
		#{dni},
		nombre = #{nombre},
		apellido_paterno = #{apellido_paterno},
		apellido_materno = #{apellido_materno},
		email = #{email},
		concesionario = #{concesionario},
		direccion = #{direccion},
		estado = #{estado},
		fecha_acceso = #{fecha_acceso},
		es_nuevo = #{es_nuevo},
		password = #{password},
		login = #{login},
		id_empresa =  #{id_empresa},
		tipo_usuario_id = #{tipo_usuario_id},
		expediente_id = #{expediente_id}
		WHERE id_usuario = #{id_usuario}
	</update>
			
	<update id="actualizarPassword" parameterType="com.victorian.produccion.domain.Usuario">
		update victorian.t_usuario
		SET 
		password = #{password},
		fecha_cambio_password = #{fecha_cambio_password},
		es_nuevo = #{es_nuevo}
		WHERE id_usuario = #{id_usuario}
	</update>
	
	<update id="actualizarFechaAcceso" parameterType="com.victorian.produccion.domain.Usuario">
		update victorian.t_usuario SET fecha_acceso = #{fecha_acceso}
		WHERE id_usuario = #{id_usuario}
	</update>
		
	<select id="buscarPorLogin" parameterType="String"
		resultMap="usuarioResult">
		SELECT
		id_usuario,nombre,apellido_paterno,apellido_materno,dni,email,direccion,login,password,estado,fecha_registro,fecha_mod,es_nuevo
		from victorian.t_usuario
		where login =#{login} 
	</select>
	
	<delete id="deleteUsuario" parameterType="int">
		Delete from victorian.t_usuario
		where id_usuario=#{id_usuario}
	</delete>
</mapper>

