<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- Realizamos la conexion a la base de datos -->
	<bean 
	   class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	   <property name="location">
		<value>classpath:src/com/victorian/produccion/propiedades/database.properties</value>
	   </property>
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	  <property name="driverClassName" value="org.postgresql.Driver" />
	  <property name="url" value="${jdbc.url}" />
	  <property name="username" value="${jdbc.username}" />
	  <property name="password" value="${jdbc.password}" />
	  <property name="validationQuery" value="select 42" />
	  <property name="minEvictableIdleTimeMillis" value="1800000" />
	  <property name="timeBetweenEvictionRunsMillis" value="1800000" />
	  <property name="numTestsPerEvictionRun" value="10" />
	  <property name="testWhileIdle" value="true" />
	  <property name="testOnBorrow" value="true" />
	  <property name="testOnReturn" value="false" />
	</bean>	

	<!-- Definimos las transacciones -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- Creamos la sessionfactory para que poder acceder a los metodos -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="mapperLocations"
			value="classpath:com/victorian/produccion/mapper/**/*.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="genericController" class="com.pe.victorian.produccion.commons.GenericBeans" scope="request">
	</bean>
	
	<!-- Mapeamos las interfaces que tiene los metodos y sus implementacion -->
	<bean id="usuarioMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
			value="com.victorian.produccion.mapper.UsuarioMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
	
	<bean id="login" name="login" 
	 	class="com.victorian.produccion.managedBeans.LoginMB" scope="session"/>				
	

	<bean id="usuarioEnSesion" name="usuarioEnSesion"
		class="com.victorian.produccion.domain.Usuario" scope="session" />
		
	<bean id="logEnSesion" name="logEnSesion"
		class="com.victorian.produccion.domain.Log" scope="session" />

	<bean id="sistemaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
			value="com.victorian.produccion.mapper.SistemaMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="perfilMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
			value="com.victorian.produccion.mapper.PerfilMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="parametroMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
			value="com.victorian.produccion.mapper.ParametroMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<bean id="menuMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
			value="com.victorian.produccion.mapper.MenuMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>

	<!-- agregados ww -->
	<bean id="menuPerfilMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.MenuPerfilMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="usuarioPerfilMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.UsuarioPerfilMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
		 	
	<!-- Para auditoria -->
	
	<bean id="logMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface"
			value="com.victorian.produccion.mapper.LogMapper" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory" />
	</bean>
		
	<bean id="cargoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.CargoMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>	
	
	<bean id="tipoDocumentoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.TipoDocumentoMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="estadoCivilMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.EstadoCivilMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="tipoMonedaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.TipoMonedaMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	
	<bean id="productoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.ProductoMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>		
			
	<bean id="ubigeoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.UbigeoMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
		
	<bean id="estadosMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.EstadosMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="empresaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.EmpresaMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>		
		
	<bean id="formatoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.FormatoMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="proveedorMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.ProveedorMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="tipoUsuarioMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.TipoUsuarioMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="pedidoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.PedidoMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="tipoConfeccionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.TipoConfeccionMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>

	<bean id="clienteMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.ClienteMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="modoPagoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.ModoPagoMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>

	<bean id="operarioMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.OperarioMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>	
	
	<bean id="maquinariaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.MaquinariaMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="asignacionRecursoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.AsignacionRecursoMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
<!-- 	<bean id="planPedidoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean"> -->
<!-- 		<property name="mapperInterface" value="com.victorian.produccion.mapper.PlanPedidoMapper"/> -->
<!-- 		<property name="sqlSessionFactory" ref="sqlSessionFactory"/> -->
<!-- 	</bean> -->
	
	<bean id="planProduccionMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.PlanProduccionMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>

	<bean id="fichaTecnicaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.FichaTecnicaMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="insumoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.InsumoMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="productoInsumoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.ProductoInsumoMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>

	<bean id="etapaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.EtapaMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="mermaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.MermaMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>

	<bean id="nivelMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.NivelMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
		
	<bean id="ordenTrabajoMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.OrdenTrabajoMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="ordenTrabajoDetalleMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.OrdenTrabajoDetalleMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="ordenTrabajoMaquinariaMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.OrdenTrabajoMaquinariaMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="ordenTrabajoOperarioMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.OrdenTrabajoOperarioMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
	
	<bean id="prioridadMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.victorian.produccion.mapper.PrioridadMapper"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>
</beans>
